/* CSS Document */

/* remove the line around the link */
a, a:focus, img, input{
    /*noFocusLine:expression(this.onFocus=this.blur());
    -moz-outline: none !important;
    outline: none;*/
}

a:active { background-color: transparent;} /* ie 10 */
*:focus { outline: 0;}
.floatL{float:left;}
.floatR{float:right;}

/* Clear Fix -- Add the "clearfix" class to the parent element of floated item(s) to clear -- */
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix{
    display: inline-block;
    clear:both;
}

/* Hides from IE-mac \*/

* html .clearfix{
    height: 1%;
}

.clearfix{
    display: block;
}

/* End hide from IE-mac */

 

/* ######### reset tags' default value in different browsers  ######### */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


table {
    border-collapse: separate;
    border-spacing: 3px;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}


q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: baseline;
}

 

/*because legend doesn't inherit in IE */
legend {
    color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
    *font-size: 100%;
}